.buscadorTodo {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    background-color: rgb(173 169 169 / 75%);
    top: 12rem;
    left: 3rem;
    width: 21rem;
    height: 3rem;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
}
#barratexto{
    outline: none;
   background-color: transparent;
    border: 0;
    border-radius: 1rem;
    padding-left: 1.7rem;
}
#imgBuscar{
    width: 2rem;
}

#vistaBuscador{
    margin: auto;
    position: absolute;
    background-color: #fff;
    width: 60%;
    right: 0;
    left: 0;
    top: 25%;
}
#imagen{
    width: 17%;
}
#descripcionYgrafico{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#descripcion{
    text-align: center;
    font-size: 2rem;
}
#grafico{
    width: 50%;
}
#anteriorYsiguiente {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 1rem;
}