body{
    background-image: url("https://github.com/RodrigoVidalGuzmanDiaz/IMAGES/blob/main/1x-copia/fondo.png?raw=true");
    background-size: cover;
}
.fondoBodyProteinas{
    background-color: #C5D72D;
    background-image: linear-gradient(90deg, #a2ca2a 50%, #7cbb26 50%);
}
.fondoBodyCarbohidratos{
    background-color: #0ab8c3;
    background-image: linear-gradient(90deg, #0ab8c3 50%, #a8e5e2 50%);    
}
.fondoBodyLipidos{
    background-color: #c5d32e;
    background-image: linear-gradient(90deg, #c5d32e 50%, #7bc426 50%);
}
.fondoBodyVitaminas{
    background-color: #c5d32e;
    background-image: linear-gradient(90deg, #c5d32e 50%, #7bc426 50%);
}
.tituloProteinas{font-size: 5rem;color: #fff;}
.tituloCarbohidratos{font-size: 5rem;color: #fff;}
.tituloLipidos{font-size: 5rem;color: #fff;}
.tituloVitaminas{font-size: 5rem;color: #fff;}

#imagenYnombre {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#descipcionYgrafico {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 5rem;
}
#grafico{
    width: 50%;
}
.vistaBuscadorVer{
    display: block;
    position: absolute;
    background-color: #fff;
}
.vistaBuscador{
    
    display: none;
}

.Superior {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 2rem;
}
.Superior img{
    width: 75%;
}
.contenidoMedidas {
    display: flex;
    flex-direction: row;
    padding: 7rem 0;
}

.textoProteinas {display: flex;font-size: 202%;color: #fff;text-align: center;padding: 0rem 0.7rem;}
.textoCarbohidratos{display: flex;font-size: 202%;color: #fff;text-align: center;padding: 0rem 0.7rem;}
.textoLipidos{display: flex;font-size: 202%;color: #fff;text-align: center;padding: 0rem 0.7rem;}
.textoVitaminas{display: flex;font-size: 202%;color: #fff;text-align: center;padding: 0rem 0.7rem;}

.grafico {
    display: flex;
    justify-content: center;
    width: 50%;
}
.grafico img {
    width: 85%;
}
.informacionProteinas {width: 50%;display: flex;flex-direction: column;align-items: center;}
.informacionProteinas img{margin: 1rem 0;}

.informacionCarbohidratos {width: 50%;display: flex;flex-direction: column;align-items: center;}
.informacionCarbohidratos img{margin: 1rem 0;}

.informacionLipidos {width: 50%;display: flex;flex-direction: column;align-items: center;}
.informacionLipidos img{margin: 1rem 0;}

.informacionVitaminas {width: 50%;display: flex;flex-direction: column;align-items: center;}
.informacionVitaminas img{margin: 1rem 0;}


#header{
    width: auto;
    padding: 0rem 2%;
    background-color: rgba(199, 202, 219, 0.651);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#contenidoVista{
    display: block;
}
#contenidoVistaNone{
    display: none;
}
#imgLogo{
    width: 11rem;
}
#imgLogo img{
    width: 100%;
}
#botones{
    width: 40rem;
    display: flex;

    align-items: center;
    justify-content: space-around;

}
#botones a{
    width: 8rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 0.5rem;

    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;

    -webkit-box-shadow: 3px 14px 32px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 14px 32px -6px rgba(0,0,0,0.75);
box-shadow: 3px 14px 32px -6px rgba(0,0,0,0.75);

    background-color: var(--colorBotones);


    text-decoration: none;
    color: #655C5C;
}
#btProteinas, #btCarbohidratos, #btLípidos, #btVitaminas{
    cursor: pointer;
}

#estadistica{
    width: 100%;
    height: 75rem;


}
#cajaVerde{
    width: 25rem;
    height: 15rem;
    font-size: 1.5rem;
    padding: 0 1rem;
    border-radius: 1rem;

display: flex;
flex-direction: row;
text-align: center;
align-items: center;

    background-color: var(--cajaVerdeColor);
    color: #fff;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
#cajaNaranja{
    width: 27rem;
    height: 20rem;
    font-size: 1.5rem;
    padding: 0 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    background-color: var(--cajaNaranjaColor);
    color: #fff;
    -webkit-border-radius: 1rem;
}
#cajaVesh{
    width: 25rem;
    height: 15rem;
    font-size: 1.5rem;
    padding: 0 1rem;
    border-radius: 1rem;

display: flex;
flex-direction: row;
text-align: center;
align-items: center;

    background-color: var(--cajaVeshColor);
    color: #fff;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
#contenido {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#alineacion{
    width: 25rem;
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#alineacion2{
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#titulo{
    color: #fff;
    font-size: 5rem;
}
#plato{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#plato img{
    width: 100%;
}
#piramide{
    background-image: url(https://github.com/jrlopez185/imagenes-suvir/blob/main/Fondo%20Piramide.png?raw=true);
    width: 100%;
    /* height: 90rem; */
    background-size: cover;
}
#contenedorDos {
    background-color: rgb(173 169 169 / 58%);
}
#tiPi{
    font-size: 5rem;
    color: #fff;
    text-align: center;
}

#pira{
    width: 50%;
}

#paV {
    font-size: 1.5rem;
    height: auto;
    margin-left: -16rem;
    padding: 0;
    text-align: center;
    align-items: center;
    background-color: gray;
    color: #fff;


}
.contenerdorProteinas{
    background-color: #C5D72D; 
    background-image: linear-gradient(90deg, #a2ca2a 50%, #7cbb26 50%);
}




@media (max-width: 375px){
    #pira{
        width: 80%;
    }

    #paV{
        font-size: 1.2rem;
        position: relative;
    width: 27rem;
    height: 10rem;
    margin: 0;
    padding: 0;
    left: 6rem;
    top: 1rem;
    
    text-align: center;
    align-items: center;
    background-color: gray;
    color: #fff;
    }
} 

#foo {
    background-color: rgb(94 86 86 / 73%);  
    color: rgba(255, 255, 255, 1);
    font-size: 2.4rem;
    padding-left: 1rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#tete{
    font-size: 4rem;
    text-align: center;
}

@media (max-width: 375px){
    #tete {
        /* position: relative; */
        /* top: 1rem; */
        font-size: 2rem;
    }
}

#alineacionPi {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#cds{
    background-color: #C5D72D;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 4rem 0;
}

#cdsPe{
    width: 70rem;
    height: 40rem;
    background-color: #D9D9D9;
    
    
}

#cus{
    width: 40rem;
    height: 40rem;
    background-color: #5D5849;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    
      
}

#cusDos{
    width: 38rem;
    height: 38rem;
    background-color: #B1664F;
    display: flex;
justify-content: center;
align-items: center;
    
   
}

#cusTres{
    width: 33rem;
    height: 25rem;
    background-color: #A9E5E3;
    transform: rotate(4.34deg);
    font-family: 'Outfit';
font-style: normal;
font-size: 1.6rem;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
}

#pss{
    
    top: 5rem;
}

#cdsDos{
    background-color: #C5D72D;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#yy{

    height: auto;
    margin:0rem;
    background-color: #5D5849;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

#yyDos{
    width: 100rem;
    height: 100rem;
    background-color: #B1664F;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#fus{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: 2rem;
}

#temFus{
    background-color: #fff;
    width: 30rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 2rem;
}

#temConte{
    background-color: #fff;
    width: 30rem;
    height: 70rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#gg{
    font-size: 1.7rem;
}

#rrTeam{
    background-color: #fff;
    width: 30rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 2rem;
    margin: 2rem;
}

#dd{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#msi{
    background-color: #fff;
    width: 30rem;
    height: 70rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nn{
    display: flex;
    flex-direction: column;
}

#ll{
    background-color: #fff;
    width: 30rem;
    height: 70rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

#vide{
    width: 70rem;
    height: 40rem;
}
.Nombres{
    display: flex;
    flex-direction: column;
    font-size: 1.7rem;
}
@media (max-width: 375px){

    .informacionVitaminas img {
        margin: 1rem;
        width: 30rem;
    }

    #cdsPe{
        width: 30rem;
        height: 40rem;
        background-color: #D9D9D9;
        
        
    }

    #cdsDos{
        
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    #cds{
        background-color: #B1664F;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

    #cus{
        width: 20rem;
        height: 20rem;
        background-color: #5D5849;
        margin-top: 5rem;
       
          
    }
    
    #cusDos{
        width: 18rem;
        height: 18rem;
        background-color: #B1664F;
        
    }
    
    #cusTres{
        
        width: 16rem;
        height: 15rem;
        background-color: #A9E5E3;
        
        transform: rotate(4.34deg);
        font-family: 'Outfit';
    font-style: normal;
    font-size: 1.1rem;
    text-align: center;
    }

    #yyDos{
        width: 100%;
        height: auto;
        background-color: #B1664F;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
    }

    #vide{
        width: 30rem;
        height: 40rem;
    }
    
}

#cab{
    border-radius: 1rem;
    width: 75%;
    height: 47rem;
}

#lip{
    border-radius: 1rem;
    width: 75%;
    height: 47rem;
}

#datg{
    border-radius: 1rem;
    width: 75%;
    height: 47rem;
}

#hsm{
    width: 2rem;
}