#buscador {
    position: absolute;
    left: 0rem;
    top: 3rem;
}
#header{
    flex-direction: column;

}
#botones{
    width: 100%;

}
#alineacion {
    height: 20rem;
}
#estadistica {
    width: auto;
    height: auto;
}
#contenido{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 5rem;
}
#titulo {
    color: #fff;
    font-size: 3rem;
}
.contenidoMedidas {
    display: flex;
    flex-direction: column;
    padding: 0rem 0;
    align-items: center;
}
.informacionProteinas img {
    margin: 1rem 0;
    width: 150%;
}
.textoProteinas {
    width: 143%;
    display: flex;
    font-size: 182%;
    color: #fff;
    text-align: center;
}
.grafico img {
    width: 150%;
}
#tiPi {
    font-size: 4.2rem;
    color: #fff;
    text-align: center;
}
#alineacionPi {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
}
#contenedorDos {
    height: 60rem;
}
#fo {
    font-size: 1.3rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}