#header{
    flex-direction: column;

}
#botones{
    width: 100%;

}
#alineacion {
    height: 20rem;
}
#estadistica {
    width: auto;
    height: auto;
}
#contenido{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#alineacionPi {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#contenedorDos {
    height: 60rem;
}
#fo {
    font-size: 1.3rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}